<p id="notice"><%= notice %></p>

<p>
  <strong>Do you have any specific fears or reservations about an online social network for artists?</strong><br>
  
  <strong>Answer: </strong><%= @survey.one %>
</p>

<p>
  <strong>Two:</strong>
  <%= @survey.two %>
</p>

<p>
  <strong>Three:</strong>
  <%= @survey.three %>
</p>

<p>
  <strong>Four:</strong>
  <%= @survey.four %>
</p>

<p>
  <strong>Five:</strong>
  <%= @survey.five %>
</p>

<p>
  <strong>Six:</strong>
  <%= @survey.six %>
</p>

<p>
  <strong>Seven:</strong>
  <%= @survey.seven %>
</p>

<p>
  <strong>Eight:</strong>
  <%= @survey.eight %>
</p>

<p>
  <strong>Nine:</strong>
  <%= @survey.nine %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @survey.ten %>
</p>

<p>
  <strong>Eleven:</strong>
  <%= @survey.eleven %>
</p>

<p>
  <strong>Twelve:</strong>
  <%= @survey.twelve %>
</p>

<p>
  <strong>Thirteen:</strong>
  <%= @survey.thirteen %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
